body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 10px;

}

.background-container {
  min-width: 600px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
img {
  width: 100%; 
  max-width: 500px;
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
/* Kontener główny */
.bmi-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  background-color: #d5e3d7;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
}

/* Tytuł */
.bmi-title {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

/* Grupa inputów */
.bmi-input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Labelka */
.bmi-label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

/* Pole input */
.bmi-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.bmi-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Grupa przycisków */
.bmi-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Przycisk */
.bmi-button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styl przycisku "Oblicz" */
.bmi-button.calculate {
  background-color: #28a745;
  color: #fff;
}

.bmi-button.calculate:hover {
  background-color: #218838;
}

/* Styl przycisku "Resetuj" */
.bmi-button.reset {
  background-color: #dc3545;
  color: #fff;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-container h1 {
  font-size: 2em;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  background-color: #69B093; /* Zielone tło nagłówków */
  color: white;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.faq-item p {
  background-color: #F0F0F0; /* Szare tło odpowiedzi */
  padding: 7px;
  border-radius: 15px;
  margin-top: 10px;
  display: none; /* Domyślnie ukryte */
}

.faq-item.active p {
  display: block; /* Odsłonięte po kliknięciu */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #69B093;
  font-weight: bold;
}

nav ul li a:hover {
  color: #3A3A3A;
}

.li-faq{
  text-align: initial;
}

.container {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.title {
  color: #2F6936;
  text-align: justify;
}

.date {
  color: gray;
  font-size: 14px;
  margin: 10px 0;
  text-align: justify;
}

.content {
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.read-more {
  color: #0053A4;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

.liStyle {
  text-align: initial;
};